@{

    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Welcome, To lab 4</h1>
<h1>About Me</h1>
<b><i>Name:Ivael Yankam Wambo</i></b>
<br />
<br />
<b><i>Student Number: 040978815</i></b>
<br />
<br />
<b><i> E-mail Address: </b>yank0007@algonquinlive.com</i>
<br />
<br />
<b><i>About Me:  I am Student of Algonquin college in the department of Computer Science and Technology in Level 5. My hobbies are basketball, Photography and gaming. I am 6ft tall and very passionate about Technology</i></b>
<br />
<br />
